body{
	min-width: 1440px;
}
.container{
	/*border: 1px solid red;*/
	max-width: 1200px;
	margin: auto;
}
.header {
    min-height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-input {
	height: 40px;
	width: 690px;
	background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    color: #BFBFBF;
    background-image: url(../img/home.svg);
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 35px;
}
.button {
	height: 40px;
	padding: 8px 16px;
	border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    background-color: #ffffff;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
    
}
.button-primary {
	background-color: #1890FF;
	border: 1px solid #1890FF;
	color: #ffffff;
	margin-right: 10px;
}
.button-icon {
	margin-right: 6px;
}

.footer {
	display: flex;
	flex-direction: row;
	height: 156px;
}
.list {
	list-style: none;

}
.footer-nav {
	display: flex;
	align-items: center;
}
.nav-list {
	min-width: 420px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 0;
	margin-left: 35px;
}
.social {
	display: flex;
	align-items: center;
}
.social-list {
	width: 127px;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	padding-left: 0;
	margin-left: 515px;
}
.link {
	text-decoration: none;
	font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #595959;
}
.food-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
}
.food-list-item {
	margin-top: 30px;
	background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}
.main-intro {
	height: 300px;
	background-color: #FFF1B8;
	background-image: url(../img/svetik.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-top: 68px;
}
.main-intro-wrapper{
	
	margin-left: 70px;
}
.main-intro__slogan {
    width: 330px;
}
.main-intro-text {
    width: 350px;
}
.main-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.search-food {
	width: 306px;
	height: 34px;
	background-image: url(../img/lupa.svg);
}
.item-wrapper {
	width: 384px;
	display: flex;
	flex-direction: column;
}
.item-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.span-list {
	margin-left: 0;
	margin-right: 26px;
}
